<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings >
    <add name="TonglBinConn" connectionString="Data Source=.;Initial Catalog=DbTonglBin;Integrated Security=True;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <!--添加服务-->
      <service name="TonglBin.ServiceImpl.CommonService" behaviorConfiguration="CommonServiceeBehavior">
        <!--name 必须与代码中的host实例初始化的服务一样  behaviorConfiguration 行为配置 -->
        <host>
          <baseAddresses>
            <!--添加调用服务地址-->
            <add baseAddress="http://localhost:8000/"/>
          </baseAddresses>
        </host>
        <!--添加契约接口 contract="TonglBin.IService" WcfDemo.IService1为契约接口   binding="wsHttpBinding"wsHttpBinding为通过Http调用-->
        <endpoint address="http://localhost:8000/" binding="wsHttpBinding" contract="TonglBin.IService.ICommonService"></endpoint>
      </service>

    </services>
    <!--定义CalculatorServiceBehavior的行为-->
    <behaviors>
      <serviceBehaviors>
        <behavior name="CommonServiceeBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>